Source: libcdirectory
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/libyal/libcdirectory

Package: libcdirectory
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libcdirectory1
Replaces: libcdirectory1
Suggests: libcdirectory-dbg
Description: Library to support cross-platform C directory functions
 libcdirectory is a library to support cross-platform C directory functions.

Package: libcdirectory-dbg
Architecture: any
Section: debug
Depends: libcdirectory (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libcdirectory
 Debugging symbols for libcdirectory.

Package: libcdirectory-dev
Section: libdevel
Architecture: any
Depends: libcdirectory (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libcdirectory
 Header files and libraries for developing applications for libcdirectory.

